.wrap{
    min-width: 1783px;
}

/* header */
.header{
    position: fixed;
    width: 100%;
    z-index: 90;
}
.nav_box{
    min-width: 1783px;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:rgba(255, 255, 255, 1);
    padding: 0 60px;
    box-sizing: border-box;
    transition: all 0.3s;
}
.h_logo_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 167px;
}
.h_full_box{
    height:90px;
    background: #fff;
}
.logo{
    display: block;
}
.logo img{
    width: 70px;
    height: 60px;
}
.dr_btn img{
    width: 18px;
}
.logo span{
    margin-left: 10px;
    line-height: 2.8;
    letter-spacing: -2px;
    font-size: 20px;
    font-weight: bold;
    color:#000;
}
.gnb{
    width: 600px;
    margin-left:50px;
}
.gnb ul{
    display: flex;
    justify-content: center;
    gap: 35px;
    font-size: 18px;
    color:#000;
    font-weight: bold;
}
.gnb a:hover{
    color:red;
}



.login_nav ul{
    display: flex;
    color:#000;
    font-size: 15px;
    gap:15px;
}
.nav_dash{
    display: inline-block;
    margin-left: 10px;
    content: "";
    width: 1px;
    height: 12px;
    background: #000;
}
/* .login_nav ul li::after{
    display: inline-block;
    margin-left: 10px;
    content: "";
    width: 1px;
    height: 12px;
    background: #fff;
} */
/* .login_nav ul li:last-child::after{
    display: none;
} */


/* gnb */
/*
.bg_black{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.5);
}
*/
.gnb2{
    height:350px;
    background: #fff;
    border-top: 1px solid #efefef;
    box-sizing: border-box;
    display: none;
}
.gnb2 ul {
    width: 534px;
    display: flex;
    justify-content: space-around;
}
.gnb2 a:hover{
    color:red;
}
.gnb2 dl {
    position: absolute;
    top: 130px;
    line-height: 2.4;
}
.gnb_01 {
    position: absolute;
    left: 470px;
}
.gnb_02 {
    position: absolute;
    left: 630px;
}
.gnb_03 {
    position: absolute;
    left: 790px;
}
.gnb_04 {
    position: absolute;
    left: 950px;
}
.gnb_05 {
    position: absolute;
    left: 1110px;
}
.gnb_06 {
    position: absolute;
    left: 1275px;
}
.gnb2 dt {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
}
.gnb2 dd {
    font-size: 16px;
    color: #565656;
}

/* logo_category */
.logo_category{
    width: 100%;
    height:660px;
    background-color:#ffffff;
    border-top:1px solid #efefef;
    box-sizing: border-box;
    display: none;
}
.logo_cont_wrap{
    width: 1356px;
    height:660px;
    margin: 0 auto;
    padding-top:50px;
    box-sizing: border-box;
    background: #fff;
}
/*men*/
.men_font{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
/*
.men_emb{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    background: yellow;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: 50%;
}
*/
.d_flex{
    display: flex;
    justify-content: center;
}
.men_emb_grop{
    display: flex;
    padding-top: 20px;
    box-sizing: border-box;
    justify-content: space-around;
    text-align: center;
}
.men_emb_grop p{
    font-size:16px;
}
/*
.men_emb img{
    width: 70px;
    height: 60px;
}
*/
.hr{
    width: 1356px;
    height: 1px;
    background-color: #efefef;
    margin: 40px 0;
}
/*women*/
.women_font{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.m_emb{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    background: #f9f9f9;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: 50%;
    transition: border 0.4s;
}
.w_emb{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    background: #f9f9f9;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: 50%;
    transition: border 0.4s;
}
.d_flex{
    display: flex;
    justify-content: center;
}
.women_emb_grop{
    display: flex;
    padding-top: 20px;
    box-sizing: border-box;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 35px;
}
.women_emb_grop p{
    font-size:16px;
}
.m_emb img{
    width: 70px;
    height: 60px;
}
.w_emb img{
    width: 70px;
    height: 60px;
}
#jung_emb{
    border: 5px solid #D91833 !important;
}
.kovo_home{
    margin:0 auto;
    width: 172px;
    height:55px;
    color:#ffffff;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding-top:15px;
    box-sizing: border-box;
    background: rgb(36, 56, 239);
}


/* main */
.main{
    position: relative;
    z-index: 1;
    margin-bottom: 144px;
}
.main_banner{
    display: flex;
    align-items: center;
    padding:0 276px;
    box-sizing: border-box;
    width: 100%;
    height:200px;
    background: url('/images/pc_sub_banner_jeong_1.png') no-repeat center;
    background-position-y: 0px;
}
.main_banner span{
    font-size: 48px;
    font-weight: 700;
    color:#fff;
}

/* sub_nav*/
.sub_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:57px;
    background:#fff;
    border-bottom: 1px solid #efefef;
    margin-bottom:45px;
}
.sub_nav ul{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    gap:16px;
    color:#999999;
}
.ac_font{
    color:#000;
    border-bottom: 2px solid #000;
}
.sub_nav ul li{
    width: 130px;
    height: 58px;
}
.sub_nav ul li a{
    display: block;
    padding-top:16px;
    box-sizing: border-box;
}

/* content */
.contents_wrap{
    width: 1356px;
    margin:0 auto;
}
.content_h{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
}
.content_h h2{
    font-size: 36px;
    font-weight: 700;
    color:#000
}
.content_h ul{
    display: flex;
    font-size: 16px;
    font-weight: bold;
    gap: 5px;
}

.content_h ul li img{
    width: 17px;
    padding-bottom: 4px;
    box-sizing: border-box;
}

.content_h ul li::after{
    display: inline-block;
    content:"";
    width: 12px;
    height: 12px;
    background: url('/images/right_arrow_gray.png') no-repeat center;
    background-size: contain;
}
.content_h ul li:last-child::after{
    display: none;
}
.gray_font{
    color:#afafaf;
}
.content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.content img{
    width: 440px;
    margin-right: 20px;
}

.content p{
    font-size: 18px;
    color:#383838;
    text-align: left;
    margin-top: 16px;
}
/* introduce */
.introduce_title{
    font-size: 25px;
    color:#383838;
    font-weight: bold;
}
.introduce_cont1{
    width: 890px;
}
.bg_gray{
    width: 100%;
    padding: 45px 0;
    box-sizing: border-box;
    background:#eeeeee;
}
.bg_white{
    width: 100%;
    padding: 80px 0;
    box-sizing: border-box;
    background:#ffffff;
}
.introduce_cont2{
    width: 892px;
}
.intro_wrap img{
    width: 440px;
    height:262px;
}
.introduce_cont2 p{
    font-size: 18px;
    color:#383838;
    text-align: left;
    margin-top: 16px;
}
.intro_wrap{
    display: flex;
    justify-content: space-between;
}

/* footer */
/*
.footer{
    height:227px;
    background:#393a45;
}
.f_content_wrap{
    width: 1356px;
    margin:0 auto;
}
*/
/* footer */
footer {
    height: 227px;
    padding: 50px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background: rgb(57, 58, 69);
}
.footer_wrap {
    min-width: 1025px;
    display: flex;
    width: 71.25%;
    gap: 120px;
    margin: 0 274px;
    align-items: center;
}
.kovo_logo img {
    width: 160px;
    height: 127px;
}
.term ul {
    width: 852px;
    display: flex;
    padding: 20px 0;
    box-sizing: border-box;
    justify-content: space-between;
}
.term a {
    color: #fff;
    font-size: .9375rem;
    font-weight: bold;
}
.footer_detail address, .footer_detail p {
    color: #ffffff99;
    font-size: .875rem;
}
.footer_detail {
    width: 1074px;
}
address {
    margin: 20px 0 0;
}
.term_p {
    margin-top: 20px;
}